<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light justify-content-center">
  <span class="navbar-brand" href="#"><i class="fas fa-chart-line"></i> Stock News Ticker</span>
  <form class="form-inline my-2 my-lg-0" (ngSubmit)="onSearch()">
    <input class="form-control mr-sm-2" type="text" placeholder="Symbol" [(ngModel)]="searchSymbol" name="searchSymbol" required>
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</nav>

<div class="container" style="margin-top: 7.5rem; display: flex; justify-content: center; align-items: center" *ngIf="showGuide">
    <div>
      <h6 >Getting Started:</h6>
      <ol>
        <li>Search a company's symbol (usually 4 or 5 letters) into the search bar above.</li>
        <li>View the graph of the stock prices, along with some recent news about that company.</li>
        <li>Click a point on the graph to see news stories about that company from around that time period.</li>
      </ol>
  </div>
</div>

<div class="container" style="margin-top: 7.5rem">
  <div class="card" style="margin-bottom: 12px" *ngIf="showStockGraph">
    <div class="card-body">
      <canvas id="canvas">{{chart}}</canvas>
    </div>
  </div>
  <div class="card-columns" *ngIf="showNewsStories">
    <div *ngFor="let topStory of topNews">
      <a href={{topStory.url}}>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{topStory.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{topStory.source.name}}</h6>
            <p class="card-text">{{topStory.description}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>